/target/
.project
.classpath
/.settings/
/.idea/
/bin/
IMS/target/
IMS/.project
IMS/.classpath
IMS/.settings/
IMS/.idea/
IMS/bin/
Catalogue/target/
Catalogue/.project
Catalogue/.classpath
Catalogue/.settings/
Catalogue/.idea/
Catalogue/bin/
