/target/
.project
.classpath
/.settings/
/.idea/
/bin/
IMS/target/
IMS/.project
IMS/.classpath
IMS/.settings/
IMS/.idea/
IMS/bin/
Ca5taqlogue/target/
Ca5taqlogue/.project
Ca5taqlogue/.classpath
Ca5taqlogue/.settings/
Ca5taqlogue/.idea/
Ca5taqlogue/bin/
