<!DOCTYPE html>
<html>
<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular.min.js"></script>

<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<meta name="viewport" content="width=device-width, initial-scale=1">

<link rel="stylesheet"
	href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
<script
	src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
<script
	src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
	
	<!-- <script src="https://code.jquery.com/jquery-1.12.4.js"></script> -->
  <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
  
  
   <link rel="stylesheet" href="jquery-ui-themes-1.12.1/themes/base/jquery-ui.css">
  
  
<script src="js/Cataloguejs.js"></script>
	
<link rel=stylesheet type="text/css" href="../css/navbar.css"/>
<link rel="stylesheet" type="text/css" href="../css/style.css" />
<link href="../simple-sidebar.css" rel="stylesheet"/>

<link rel=stylesheet type= "text/css" href="css/CatalogueCss.css"/>

	


<body ng-app="myApp">
	
	<div id="wrapper">

		<div id="header">

			<div class="row" style="padding: 0px">

				<div class="col-sm-1"></div>

				<div class="col-sm-2">
					<a href="Gnomepage2.html"> <img src="../img/NB Gardens logo.png" width=100px>
					</a>
				</div>

				<div class="col-sm-7" style="padding: 20px" ng-controller="myCtrl2">
					
						<div class="form-group" style="width: 80%">
							<input style="width: 100%" type="text" class="form-control"
								placeholder="Search" ng-change="myfunc()" ng-model="searchWord">
						</div>
						<div >
						</div>
				</div>



				<div class="col-sm-2" style="padding: 20px">
					<a href="#"> <img src="../img/basket.png" width="50px"><span
						style="padding: 10px;">0</span>
					</a>
				</div>

			</div>

			<nav class="navbar navbar-default">
				<div class="container-fluid">
					<div class="navbar-header">
						<button type="button" class="navbar-toggle" data-toggle="collapse"
							data-target="#myNavbar">
							<span class="icon-bar"></span> <span class="icon-bar"></span> <span
								class="icon-bar"></span>
						</button>
						<a class="navbar-brand" href="Gnomepage2.html">NB Gardens</a>
					</div>
					<div class="collapse navbar-collapse" id="myNavbar">

						<ul class="nav navbar-nav">
							<li class="active"><a href="Products2.html">Gnomes</a></li>
							<li class="#"><a href="#">Garden</a></li>
							<li><a href="#">Offers</a></li>
							<li><a href="#">Season</a></li>
						</ul>
						<ul class="nav navbar-nav navbar-right">
							<li><a href="AboutUs2.html">About Us</a></li>
							<li><a href="SignUp2.html"><span
									class="glyphicon glyphicon-user"></span> Sign Up</a></li>
							<li><a href="Login2.html"><span
									class="glyphicon glyphicon-log-in"></span> Login</a></li>

						</ul>
					</div>


				</div>
			</nav>
			
		
		
												
			
		</div>
		
		<div id="content">


			<div class="container-fluid " style="padding-top: 30px">
				<div class="row">
					<div class="col-sm-3 sidebar die">
						<ul class="nav nav-sidebar" style="padding: 8%">
							<li ng-controller = "materialController"> <label>Material:</label>
								<div class="checkbox">
									<label><input type="checkbox" ng-model="myVar1" value="Leather">Leather</label>
								</div>
								<div class="checkbox">
									<label><input type="checkbox" ng-model="myVar2" value="Pot">Pot</label>
								</div>
								<div class="checkbox">
									<label><input type="checkbox" ng-model="myVar3" value="China">China</label>
								</div>
								<button class="btn btn-success" ng-click="materialfunc()" >submit</button>
							</li>
							
							<br>

							<li>

								<div ng-controller="newCont">	
									<p>
								  		<label for="amount">Price range:</label>
								  		<input type="text" id="amount" readonly  class="price"/>
									</p>
									<div id="slider-range"></div>
									<button class="btn btn-success" ng-click="thisfunc()" style="margin-top:10%">submit</button>
								</div>

							</li>

							<br>

							<li><label>Color:</label>
								<div class="row" style="padding-right:10px;">
									<div class="col-sm-1">
										<img src="../img/brown.png">
									</div>
									<div class="col-sm-1">
										<img src="../img/brown.png">
									</div>
									<div class="col-sm-1">
										<img src="../img/brown.png">
									</div>
									<div class="col-sm-1">
										<img src="../img/brown.png">
									</div>
									<div class="col-sm-1">
										<img src="../img/brown.png">
									</div>
									

								</div>
								<br>
								<button class="btn btn-success"  >submit</button>


							</li>
							<br>

							<li><label>Porousware:</label>
							<div class="checkbox">
								<label><input type="checkbox" value="" />Yes</label>
							</div>
							<div class="checkbox">
								<label><input type="checkbox" value="" />No</label>
							</div> 
							<button class="btn btn-success"  >submit</button>

						</li>
							<br>

							<li><label>Rating:</label>
								<div class="checkbox">
									<label><input type="checkbox" value="">1 or
										more</label>
								</div>
								<div class="checkbox">
									<label><input type="checkbox" value="">2 or
										more</label>
								</div>
								<div class="checkbox">
									<label><input type="checkbox" value="">3 or
										more</label>
								</div>
								<div class="checkbox">
									<label><input type="checkbox" value="">4 or
										more</label>
								</div>
								<div class="checkbox">
									<label><input type="checkbox" value="">5 or
										more</label>
								</div>
								
							
								<button class="btn btn-success"  >submit</button>
							</li>
							
								

						</ul>
					</div>
					<div class="col-sm-9">
						<div class="row">
							<div class="container-fluid" id="stuff" style="overflow: hidden;">
							
								<div  ng-controller="myCtrl">
									<div ng-repeat="x in content">
										<div class="col-sm-4 ImageLayout ">
											<a ng-href="Product.html#?productId={{x.productId}}"> 
												<img src="../img/gnome.jpg" class="img-thumbnail shadow ProductLayout"/>
											 	{{x.name}}
											 </a>
											<div class="rating">☆☆☆☆ (3)</div>
											<div>£{{x.price}}.00</div>
										</div>
										
									</div>
								</div>
							</div>
						</div>
					</div>						
					
					</div>

				</div>
			</div>
			<!-- #Content -->
			
			<div id="footer">
		
		</div>
		<!-- #footer -->
					
		</div>
		
</body>
</html>