#material {
	box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
	background-color: #EBEBEB;
	margin-top: 10%;
}

body {
	color: #black;
	background: url("background-texture-new.jpg");
}

html {
	position: relative;
	min-height: 100%;
}

body {
	/* Margin bottom by footer height */
	margin-bottom: 60px;
}

.footer {
	box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
	position: absolute;
	bottom: 0;
	width: 100%;
	/* Set the fixed height of the footer here */
	height: 60px;
	line-height: 60px; /* Vertically center the text there */
	background-color: #69C974;
}

.container {
	width: auto;
	max-width: 680px;
	padding: 0 15px;
}

.gold {
	color: #FFBF00;
}

/*********************************************
					PRODUCTS
*********************************************/
.product {
	border: 1px solid #dddddd;
	height: 321px;
}

.product>img {
	max-width: 230px;
}

.product-rating {
	font-size: 20px;
	margin-bottom: 25px;
}

.product-title {
	font-size: 20px;
}

.product-desc {
	font-size: 14px;
}

.product-price {
	font-size: 22px;
}

.product-stock {
	color: #74DF00;
	font-size: 20px;
	margin-top: 10px;
}

.product-info {
	margin-top: 50px;
}

.row-product {
	background-color:#EBEBEB;
}

/*********************************************
					VIEW
*********************************************/
.content-wrapper {
	max-width: 1140px;
	background: #fff;
	margin: 0 auto;
	margin-top: 25px;
	margin-bottom: 10px;
	border: 0px;
	border-radius: 0px;
}

.container-fluid {
	max-width: 1140px;
	margin: 0 auto;
}

.view-wrapper {
	float: right;
	max-width: 70%;
	margin-top: 25px;
}

.container {
	padding-left: 0px;
	padding-right: 0px;
	max-width: 100%;
}


.frog {
	
	left:1500px;
	bottom: 20px;
	position: absolute;
	z-index: 1;
}
